# Lab: Trees and Model Stability

Trees are notorious for being **unstable**: Small changes in the data can lead to noticeable or large changes in the tree. We're going to explore this phenomenon, and a common rebuttal.

In the folder for this lab, there are three datasets that we used in class: Divorce, heart failure, and the AirBnB price dataset.

1. Pick one of the datasets and appropriately clean it.
2. Perform a train-test split for a specific seed (save the seed for reproducibility). Fit a classification/regression tree and a linear model on the training data and evaluate their performance on the test data. Set aside the predictions these models make.
3. Repeat step 2 for three to five different seeds (save the seeds for reproducibility). How different are the trees that you get? Your linear model coefficients?. Set aside the predictions these models make.

Typically, you would see the trees changing what appears to be a non-trivial amount, while the linear model coefficients don't vary nearly as much. Often, the changes appear substantial. 

But are they?

4. Instead of focusing on the tree or model coefficients, do three things:
    1. Make scatterplots of the predicted values on the test set from question 2 against the predicted values for the alternative models from part 3, separately for your trees and linear models. Do they appear reasonably similar?
    2. Compute the correlation between your model in part 2 and your alternative models in part 3, separately for your trees and linear models. Are they highly correlated or not?
    3. Run a simple linear regression of the predicted values on the test set from the alternative models on the predicted values from question 2, separately for your trees and linear models. Is the intercept close to zero? Is the slope close to 1? Is the $R^2$ close to 1?

5. Do linear models appear to have similar coefficients and predictions across train/test splits? Do trees?
6. True or false, and explain: "Even if the models end up having a substantially different appearance, the predictions they generate are often very similar."

In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier, export_text
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score, roc_auc_score

**1.**

In [2]:
# Load heart failure data
df = pd.read_csv('./data/heart_failure/heart_failure_clinical_records_dataset.csv')
print(df.dtypes)
df.head()

age                         float64
anaemia                       int64
creatinine_phosphokinase      int64
diabetes                      int64
ejection_fraction             int64
high_blood_pressure           int64
platelets                   float64
serum_creatinine            float64
serum_sodium                  int64
sex                           int64
smoking                       int64
time                          int64
DEATH_EVENT                   int64
dtype: object

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [3]:
# Clean data
df = df.drop_duplicates()

if df.isna().sum().sum() > 0:
    df = df.dropna()

print("Dimensions:", df.shape)
df.head()

Dimensions: (299, 13)

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

**2.**

In [4]:
# Features
X = df.drop(columns=['DEATH_EVENT'])
y = df['DEATH_EVENT']

# Seed for reproducibility
INITIAL_SEED = 1

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(
    X, 
    y,
    test_size=0.3,
    random_state=INITIAL_SEED,
    stratify=y
)

In [5]:
# Classification tree
clf = DecisionTreeClassifier(max_depth=4, random_state=INITIAL_SEED)
clf.fit(X_train, y_train)

# Predicitions
y_pred_tree = clf.predict(X_test)
y_proba_tree = clf.predict_proba(X_test)[:, 1]

# Evaluate
clf_acc = accuracy_score(y_test, y_pred_tree)
clf_auc = roc_auc_score(y_test, y_proba_tree)

print("Decision Tree Accuracy:", round(clf_acc, 3))
print("Decision Tree ROC AUC:", round(clf_auc, 3))

# Tree structure
print("\nTree structure:")
print(export_text(clf, feature_names=list(X.columns)))

Decision Tree Accuracy: 0.756
Decision Tree ROC AUC: 0.688

Tree structure:
|--- time <= 67.50
|   |--- creatinine_phosphokinase <= 80.50
|   |   |--- serum_creatinine <= 2.80
|   |   |   |--- class: 0
|   |   |--- serum_creatinine >  2.80
|   |   |   |--- class: 1
|   |--- creatinine_phosphokinase >  80.50
|   |   |--- ejection_fraction <= 72.50
|   |   |   |--- creatinine_phosphokinase <= 2018.00
|   |   |   |   |--- class: 1
|   |   |   |--- creatinine_phosphokinase >  2018.00
|   |   |   |   |--- class: 1
|   |   |--- ejection_fraction >  72.50
|   |   |   |--- class: 0
|--- time >  67.50
|   |--- ejection_fraction <= 27.50
|   |   |--- ejection_fraction <= 22.50
|   |   |   |--- serum_sodium <= 137.00
|   |   |   |   |--- class: 1
|   |   |   |--- serum_sodium >  137.00
|   |   |   |   |--- class: 0
|   |   |--- ejection_fraction >  22.50
|   |   |   |--- creatinine_phosphokinase <= 920.50
|   |   |   |   |--- class: 0
|   |   |   |--- creatinine_phosphokinase >  920.50
|   |   |   |   |--- class: 1
|   |--- ejection_fraction >  27.50
|   |   |--- serum_creatinine <= 1.55
|   |   |   |--- serum_creatinine <= 0.65
|   |   |   |   |--- class: 1
|   |   |   |--- serum_creatinine >  0.65
|   |   |   |   |--- class: 0
|   |   |--- serum_creatinine >  1.55
|   |   |   |--- time <= 210.00
|   |   |   |   |--- class: 0
|   |   |   |--- time >  210.00
|   |   |   |   |--- class: 0

In [6]:
# Linear model
reg = LinearRegression()
reg.fit(X_train, y_train)

# Predictions
y_pred_lr = reg.predict(X_test)
y_pred_lr_class = (y_pred_lr >= 0.5).astype(int)

# Evaluate
reg_acc = accuracy_score(y_test, y_pred_lr_class)
reg_auc = roc_auc_score(y_test, y_pred_lr)

print("Linear Regression Accuracy:", round(reg_acc, 3))
print("Linear Regression ROC AUC:", round(reg_auc, 3))

Linear Regression Accuracy: 0.789
Linear Regression ROC AUC: 0.818

**3.**

In [12]:
seeds = [0, 10, 42, 67, 100, 2025]

results_accuracy = [] # store accuracty/AUC for each seed
tree_structures = {} # store tree text structure
reg_coefs = {} # store linear regression coefficients
predictions = {} # store predictions for each seed

for seed in seeds:
    # Train-test split
    X_train, X_test, y_train, y_test = train_test_split(
        X, y,
        test_size=0.3,
        random_state=seed,
        stratify=y
    )

    # Decision tree
    clf = DecisionTreeClassifier(max_depth=4, random_state=seed)
    clf.fit(X_train, y_train)

    # Predicitions
    y_pred_tree = clf.predict(X_test)
    y_proba_tree = clf.predict_proba(X_test)[:, 1]

    # Evaluate
    clf_acc = accuracy_score(y_test, y_pred_tree)
    clf_auc = roc_auc_score(y_test, y_proba_tree)

    # Save tree structure
    tree_structures[seed] = export_text(clf, feature_names=list(X.columns))

    # Linear regression
    reg = LinearRegression()
    reg.fit(X_train, y_train)

    # Predictions
    y_pred_lr = reg.predict(X_test)
    y_pred_lr_class = (y_pred_lr >= 0.5).astype(int)

    # Evaluate
    reg_acc = accuracy_score(y_test, y_pred_lr_class)
    reg_auc = roc_auc_score(y_test, y_pred_lr)

    # Save coefficients
    reg_coefs[seed] = {
        "intercept": reg.intercept_,
        "coefficients": pd.Series(reg.coef_, index=X.columns)
    }

    # Save predicitions for seed
    preds_df = pd.DataFrame({
        "y_true": y_test.values,
        "clf_pred": y_pred_tree,
        "clf_proba": y_proba_tree,
        "reg_pred_cont": y_pred_lr,
        "reg_pred_class": y_pred_lr_class
    }, index=y_test.index)

    predictions[seed] = preds_df

    # Store metrics
    results_accuracy.append({
        "seed": seed,
        "clf_acc": clf_acc,
        "clf_auc": clf_auc,
        "reg_acc": reg_acc,
        "reg_auc": reg_auc
    })

    # Convert to DataFrame
    results_df = pd.DataFrame(results_accuracy)

In [13]:
print("\n========== Metrics across different seeds ==========")
print(results_df)

# Show example tree structures
print("\n========== Example Tree (seed =", seeds[0], ") ==========\n")
print(tree_structures[seeds[0]])

print("\n========== Example Tree (seed =", seeds[1], ") ==========\n")
print(tree_structures[seeds[1]])

print("\n========== Example Tree (seed =", seeds[2], ") ==========\n")
print(tree_structures[seeds[2]])

print("\n========== Example Tree (seed =", seeds[3], ") ==========\n")
print(tree_structures[seeds[3]])

print("\n========== Example Tree (seed =", seeds[4], ") ==========\n")
print(tree_structures[seeds[4]])

print("\n========== Example Tree (seed =", seeds[5], ") ==========\n")
print(tree_structures[seeds[5]])

# Compare linear regression coefficients
print("\n========== Linear Regression Coefficients (seed =", seeds[0], ") ==========\n")
print(reg_coefs[seeds[0]]["coefficients"])

print("\n========== Linear Regression Coefficients (seed =", seeds[1], ") ==========\n")
print(reg_coefs[seeds[1]]["coefficients"])

print("\n========== Linear Regression Coefficients (seed =", seeds[2], ") ==========\n")
print(reg_coefs[seeds[2]]["coefficients"])

print("\n========== Linear Regression Coefficients (seed =", seeds[3], ") ==========\n")
print(reg_coefs[seeds[3]]["coefficients"])

print("\n========== Linear Regression Coefficients (seed =", seeds[4], ") ==========\n")
print(reg_coefs[seeds[4]]["coefficients"])

print("\n========== Linear Regression Coefficients (seed =", seeds[5], ") ==========\n")
print(reg_coefs[seeds[5]]["coefficients"])

========== Metrics across different seeds ==========
   seed   clf_acc   clf_auc   reg_acc   reg_auc
0     0  0.855556  0.815715  0.800000  0.879028
1    10  0.833333  0.887790  0.833333  0.860373
2    42  0.833333  0.784341  0.844444  0.867722
3    67  0.833333  0.880441  0.800000  0.853024
4   100  0.811111  0.801865  0.844444  0.860373
5  2025  0.833333  0.893443  0.833333  0.910684

========== Example Tree (seed = 0 ) ==========

|--- time <= 67.50
|   |--- ejection_fraction <= 27.50
|   |   |--- class: 1
|   |--- ejection_fraction >  27.50
|   |   |--- time <= 52.00
|   |   |   |--- platelets <= 299500.00
|   |   |   |   |--- class: 1
|   |   |   |--- platelets >  299500.00
|   |   |   |   |--- class: 1
|   |   |--- time >  52.00
|   |   |   |--- class: 0
|--- time >  67.50
|   |--- ejection_fraction <= 32.50
|   |   |--- serum_creatinine <= 1.35
|   |   |   |--- time <= 78.50
|   |   |   |   |--- class: 1
|   |   |   |--- time >  78.50
|   |   |   |   |--- class: 0
|   |   |--- serum_creatinine >  1.35
|   |   |   |--- creatinine_phosphokinase <= 65.00
|   |   |   |   |--- class: 0
|   |   |   |--- creatinine_phosphokinase >  65.00
|   |   |   |   |--- class: 1
|   |--- ejection_fraction >  32.50
|   |   |--- serum_creatinine <= 3.45
|   |   |   |--- age <= 79.50
|   |   |   |   |--- class: 0
|   |   |   |--- age >  79.50
|   |   |   |   |--- class: 0
|   |   |--- serum_creatinine >  3.45
|   |   |   |--- platelets <= 233500.00
|   |   |   |   |--- class: 1
|   |   |   |--- platelets >  233500.00
|   |   |   |   |--- class: 0


========== Example Tree (seed = 10 ) ==========

|--- time <= 73.50
|   |--- time <= 67.50
|   |   |--- serum_creatinine <= 0.85
|   |   |   |--- ejection_fraction <= 39.00
|   |   |   |   |--- class: 1
|   |   |   |--- ejection_fraction >  39.00
|   |   |   |   |--- class: 0
|   |   |--- serum_creatinine >  0.85
|   |   |   |--- serum_sodium <= 136.50
|   |   |   |   |--- class: 1
|   |   |   |--- serum_sodium >  136.50
|   |   |   |   |--- class: 1
|   |--- time >  67.50
|   |   |--- ejection_fraction <= 27.50
|   |   |   |--- class: 1
|   |   |--- ejection_fraction >  27.50
|   |   |   |--- serum_sodium <= 134.50
|   |   |   |   |--- class: 1
|   |   |   |--- serum_sodium >  134.50
|   |   |   |   |--- class: 0
|--- time >  73.50
|   |--- serum_creatinine <= 1.45
|   |   |--- ejection_fraction <= 27.50
|   |   |   |--- age <= 52.50
|   |   |   |   |--- class: 0
|   |   |   |--- age >  52.50
|   |   |   |   |--- class: 0
|   |   |--- ejection_fraction >  27.50
|   |   |   |--- age <= 78.50
|   |   |   |   |--- class: 0
|   |   |   |--- age >  78.50
|   |   |   |   |--- class: 0
|   |--- serum_creatinine >  1.45
|   |   |--- ejection_fraction <= 22.50
|   |   |   |--- class: 1
|   |   |--- ejection_fraction >  22.50
|   |   |   |--- platelets <= 236000.00
|   |   |   |   |--- class: 1
|   |   |   |--- platelets >  236000.00
|   |   |   |   |--- class: 0


========== Example Tree (seed = 42 ) ==========

|--- time <= 73.50
|   |--- ejection_fraction <= 27.50
|   |   |--- class: 1
|   |--- ejection_fraction >  27.50
|   |   |--- time <= 52.00
|   |   |   |--- age <= 54.00
|   |   |   |   |--- class: 1
|   |   |   |--- age >  54.00
|   |   |   |   |--- class: 1
|   |   |--- time >  52.00
|   |   |   |--- serum_sodium <= 134.50
|   |   |   |   |--- class: 1
|   |   |   |--- serum_sodium >  134.50
|   |   |   |   |--- class: 0
|--- time >  73.50
|   |--- serum_creatinine <= 1.45
|   |   |--- ejection_fraction <= 27.50
|   |   |   |--- age <= 57.50
|   |   |   |   |--- class: 0
|   |   |   |--- age >  57.50
|   |   |   |   |--- class: 0
|   |   |--- ejection_fraction >  27.50
|   |   |   |--- creatinine_phosphokinase <= 2307.50
|   |   |   |   |--- class: 0
|   |   |   |--- creatinine_phosphokinase >  2307.50
|   |   |   |   |--- class: 0
|   |--- serum_creatinine >  1.45
|   |   |--- creatinine_phosphokinase <= 69.00
|   |   |   |--- class: 0
|   |   |--- creatinine_phosphokinase >  69.00
|   |   |   |--- time <= 206.00
|   |   |   |   |--- class: 1
|   |   |   |--- time >  206.00
|   |   |   |   |--- class: 0


========== Example Tree (seed = 67 ) ==========

|--- time <= 73.50
|   |--- serum_sodium <= 136.50
|   |   |--- ejection_fraction <= 47.50
|   |   |   |--- class: 1
|   |   |--- ejection_fraction >  47.50
|   |   |   |--- anaemia <= 0.50
|   |   |   |   |--- class: 0
|   |   |   |--- anaemia >  0.50
|   |   |   |   |--- class: 1
|   |--- serum_sodium >  136.50
|   |   |--- ejection_fraction <= 27.50
|   |   |   |--- class: 1
|   |   |--- ejection_fraction >  27.50
|   |   |   |--- serum_sodium <= 139.50
|   |   |   |   |--- class: 0
|   |   |   |--- serum_sodium >  139.50
|   |   |   |   |--- class: 1
|--- time >  73.50
|   |--- serum_creatinine <= 1.45
|   |   |--- ejection_fraction <= 27.50
|   |   |   |--- age <= 52.50
|   |   |   |   |--- class: 0
|   |   |   |--- age >  52.50
|   |   |   |   |--- class: 0
|   |   |--- ejection_fraction >  27.50
|   |   |   |--- age <= 79.00
|   |   |   |   |--- class: 0
|   |   |   |--- age >  79.00
|   |   |   |   |--- class: 0
|   |--- serum_creatinine >  1.45
|   |   |--- time <= 210.50
|   |   |   |--- creatinine_phosphokinase <= 62.50
|   |   |   |   |--- class: 0
|   |   |   |--- creatinine_phosphokinase >  62.50
|   |   |   |   |--- class: 1
|   |   |--- time >  210.50
|   |   |   |--- ejection_fraction <= 22.50
|   |   |   |   |--- class: 1
|   |   |   |--- ejection_fraction >  22.50
|   |   |   |   |--- class: 0


========== Example Tree (seed = 100 ) ==========

|--- time <= 67.50
|   |--- ejection_fraction <= 72.50
|   |   |--- creatinine_phosphokinase <= 80.50
|   |   |   |--- serum_sodium <= 135.50
|   |   |   |   |--- class: 1
|   |   |   |--- serum_sodium >  135.50
|   |   |   |   |--- class: 0
|   |   |--- creatinine_phosphokinase >  80.50
|   |   |   |--- serum_creatinine <= 0.75
|   |   |   |   |--- class: 0
|   |   |   |--- serum_creatinine >  0.75
|   |   |   |   |--- class: 1
|   |--- ejection_fraction >  72.50
|   |   |--- class: 0
|--- time >  67.50
|   |--- serum_creatinine <= 1.65
|   |   |--- ejection_fraction <= 27.50
|   |   |   |--- creatinine_phosphokinase <= 105.50
|   |   |   |   |--- class: 0
|   |   |   |--- creatinine_phosphokinase >  105.50
|   |   |   |   |--- class: 0
|   |   |--- ejection_fraction >  27.50
|   |   |   |--- creatinine_phosphokinase <= 2307.50
|   |   |   |   |--- class: 0
|   |   |   |--- creatinine_phosphokinase >  2307.50
|   |   |   |   |--- class: 0
|   |--- serum_creatinine >  1.65
|   |   |--- time <= 210.00
|   |   |   |--- serum_creatinine <= 2.85
|   |   |   |   |--- class: 1
|   |   |   |--- serum_creatinine >  2.85
|   |   |   |   |--- class: 0
|   |   |--- time >  210.00
|   |   |   |--- creatinine_phosphokinase <= 890.50
|   |   |   |   |--- class: 0
|   |   |   |--- creatinine_phosphokinase >  890.50
|   |   |   |   |--- class: 1


========== Example Tree (seed = 2025 ) ==========

|--- time <= 73.50
|   |--- serum_sodium <= 136.50
|   |   |--- ejection_fraction <= 47.50
|   |   |   |--- class: 1
|   |   |--- ejection_fraction >  47.50
|   |   |   |--- anaemia <= 0.50
|   |   |   |   |--- class: 0
|   |   |   |--- anaemia >  0.50
|   |   |   |   |--- class: 1
|   |--- serum_sodium >  136.50
|   |   |--- serum_sodium <= 139.50
|   |   |   |--- time <= 11.50
|   |   |   |   |--- class: 1
|   |   |   |--- time >  11.50
|   |   |   |   |--- class: 0
|   |   |--- serum_sodium >  139.50
|   |   |   |--- class: 1
|--- time >  73.50
|   |--- serum_creatinine <= 1.55
|   |   |--- age <= 79.00
|   |   |   |--- ejection_fraction <= 27.50
|   |   |   |   |--- class: 0
|   |   |   |--- ejection_fraction >  27.50
|   |   |   |   |--- class: 0
|   |   |--- age >  79.00
|   |   |   |--- creatinine_phosphokinase <= 857.50
|   |   |   |   |--- class: 1
|   |   |   |--- creatinine_phosphokinase >  857.50
|   |   |   |   |--- class: 0
|   |--- serum_creatinine >  1.55
|   |   |--- creatinine_phosphokinase <= 72.50
|   |   |   |--- class: 0
|   |   |--- creatinine_phosphokinase >  72.50
|   |   |   |--- time <= 242.50
|   |   |   |   |--- class: 1
|   |   |   |--- time >  242.50
|   |   |   |   |--- class: 0


========== Linear Regression Coefficients (seed = 0 ) ==========

age                         5.225376e-03
anaemia                     1.598832e-02
creatinine_phosphokinase    2.452367e-05
diabetes                    1.919063e-02
ejection_fraction          -1.117515e-02
high_blood_pressure        -2.218182e-02
platelets                  -1.044250e-08
serum_creatinine            8.071338e-02
serum_sodium               -5.118031e-03
sex                        -5.101240e-02
smoking                    -3.051723e-02
time                       -2.666993e-03
dtype: float64

========== Linear Regression Coefficients (seed = 10 ) ==========

age                         6.992633e-03
anaemia                    -1.222935e-02
creatinine_phosphokinase    3.390401e-05
diabetes                    1.002637e-02
ejection_fraction          -1.138298e-02
high_blood_pressure        -2.567881e-02
platelets                   3.530653e-08
serum_creatinine            7.165293e-02
serum_sodium               -5.147606e-03
sex                        -4.184920e-02
smoking                     2.934827e-02
time                       -2.942222e-03
dtype: float64

========== Linear Regression Coefficients (seed = 42 ) ==========

age                         3.174286e-03
anaemia                     2.716405e-02
creatinine_phosphokinase    4.839574e-05
diabetes                    4.817796e-02
ejection_fraction          -9.826529e-03
high_blood_pressure        -2.255020e-02
platelets                  -8.975675e-08
serum_creatinine            1.010573e-01
serum_sodium               -3.006537e-03
sex                        -3.647808e-02
smoking                     2.949720e-02
time                       -2.781612e-03
dtype: float64

========== Linear Regression Coefficients (seed = 67 ) ==========

age                         7.011678e-03
anaemia                     5.633300e-02
creatinine_phosphokinase    4.554688e-05
diabetes                   -8.067163e-03
ejection_fraction          -1.156454e-02
high_blood_pressure         2.457578e-02
platelets                  -1.457971e-07
serum_creatinine            9.107613e-02
serum_sodium               -1.008427e-02
sex                        -1.472522e-02
smoking                    -1.738681e-02
time                       -2.537465e-03
dtype: float64

========== Linear Regression Coefficients (seed = 100 ) ==========

age                         6.232120e-03
anaemia                    -2.709863e-02
creatinine_phosphokinase    2.623663e-05
diabetes                    1.686036e-02
ejection_fraction          -1.213642e-02
high_blood_pressure        -5.826653e-03
platelets                  -6.199876e-08
serum_creatinine            1.022675e-01
serum_sodium                2.101125e-03
sex                        -7.538069e-03
smoking                    -7.688463e-02
time                       -2.690171e-03
dtype: float64

========== Linear Regression Coefficients (seed = 2025 ) ==========

age                         8.590927e-03
anaemia                    -4.003678e-02
creatinine_phosphokinase    5.509060e-05
diabetes                    4.181153e-02
ejection_fraction          -7.628227e-03
high_blood_pressure        -6.721104e-02
platelets                  -1.578630e-07
serum_creatinine            7.219937e-02
serum_sodium               -7.362254e-03
sex                        -5.730187e-02
smoking                    -1.700542e-02
time                       -2.468501e-03
dtype: float64

**4.**